@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

.loader {
  color: var(--theme-color);
  fill: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 90vh;
  svg {
    height: 10rem;
    width: 10rem;
  }
}

.background-video {
  position: absolute;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the video stays in the background */
}
